.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo__clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.logo-clients-link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
    color: #2196f3;
  }
}
.logo__clients-item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.logo-clients-icon {
  fill: currentColor;
}

/* .logo-clients-link:hover .logo-clients-icon,
.logo-clients-link:focus .logo-clients-icon{
  color: #2196f3;
} */
